<h1 class="title"><a href="https://benchmarks.leap.se/"><span data-bind="title"></span></a></h1>

<p>&nbsp;</p>

<h4><a href="https://benchmarks.leap.se"><span>Current Status</span></a></h4>

<p>
  <a href="https://benchmarks.leap.se">
    <span data-bind="is-benchmarked-status" data-addclass-good="isBenchmarked" data-addclass-bad="isNotBenchmarked"></span>
  </a>
</p>

<p>&nbsp;</p>

<h4><a href="https://benchmarks.leap.se">Recent Outliers</a></h4>

<p> 
  <a href="https://benchmarks.leap.se">
    <span data-bind="good" data-addclass-good="hasGoodOutliers"></span> / <span data-bind="bad" data-addclass-bad="hasBadOutliers"></span></a>
  </a>
</p>

<p class="updated-at" data-bind="updatedAtMessage"></p>
