<h1 class="title" data-bind="title"></h1>

<ul class="github_pr-nostyle">
  <li data-foreach-item="items">
    <a class="label-link" data-bind="item.label | truncate 30" data-bind-href="item.pr_url" target="_blank"></a>
  </li>
</ul>

<p class="more-info" data-bind="moreinfo"></p>
<p class="updated-at" data-bind="updatedAtMessage"></p>
