<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="gitlab-builds" data-view="GitlabBuildStatus" data-title="Builds"></div>
</li>
<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
  <div data-id="nagios-mail" data-view="Nagios" data-unordered="true" data-title="Nagios mail.bitmask" data-moreinfo="Unacknowledged events"></div>
</li>
<li data-row="1" data-col="5" data-sizex="2" data-sizey="1">
  <div data-id="nagios-dev" data-view="Nagios" data-unordered="true" data-title="Nagios dev.bitmask" data-moreinfo="Unacknowledged events"></div>
</li>

<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="benchmarks" data-view="Benchmarks" data-unordered="true" data-title="Benchmarks" id="benchmarks"></div>
</li>
<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
  <div data-id="nagios-demo" data-view="Nagios" data-unordered="true" data-title="Nagios demo.bitmask" data-moreinfo="Unacknowledged events"></div>
</li>
<li data-row="2" data-col="5" data-sizex="2" data-sizey="1">
  <div data-id="nagios-unstable" data-view="Nagios" data-unordered="true" data-title="Nagios unstable.bitmask" data-moreinfo="Unacknowledged events"></div>
</li>

<li data-row="3" data-col="1" data-sizex="2" data-sizey="1">
  <div data-id="nagios-user_leap_se" data-view="Nagios" data-unordered="true" data-title="Nagios user.leap.se" data-moreinfo="Unacknowledged events"></div>
</li>
<li data-row="3" data-col="3" data-sizex="2" data-sizey="1">
  <div data-id="nagios-infrastructure" data-view="Nagios" data-unordered="true" data-title="Nagios Infrastructure" data-moreinfo="Unacknowledged events"></div>
</li>
<li data-row="3" data-col="5" data-sizex="2" data-sizey="1">
  <div data-id="nagios-cdev" data-view="Nagios" data-unordered="true" data-title="Nagios cdev.bitmask" data-moreinfo="Unacknowledged events"></div>
</li>
