<a class="title-link" data-bind="title" data-bind-href="job_url" target="_blank"></a>
<ul>
	<li data-foreach-item="items">
		<p data-bind="item"></p>
	</li>
</ul>
<p class="updated-at" data-bind="updatedAtMessage"></p>
